p {
  font-family: sans-serif;
  font-size: 20px;
  text-align: justify;
}

body {
  background: linear-gradient(235deg, #5b338d, #c7a7e5);
}

.titulosj {
  font-family: "Lucida Handwriting", cursive;
  font-size: 28px;
  color: white;
}

.justinbieber {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  border: 10px solid white;
  border-radius: 12px;
}
.caja {
  background-color: #8e358e;
  padding: 10px;
  margin: 15px;
  border: 5px solid #4a235a;
  border-radius: 12px;
  color: white;
}
.caja h4 {
  text-decoration: underline;
  display: inline;
}
#titulo {
  font-size: 80px;
  text-align: center;
  color: white;
}
#fondo {
  background: rgb(139, 226, 232);
}
.fila {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.parrafo {
  border: 5px solid rgb(249, 249, 249);
  padding: 12px;
  background-color: rgb(9, 52, 81);
  border-radius: 12px;
  color: white;
  font-size: 25px;
}
#tituloc {
  color: rgb(9, 52, 81);
  font-size: 70px;
  text-decoration: underline;
  text-align: center;
}

#tituloprincipal {
  text-align: center;
  font-size: 75px;
}
.card {
  background-color: #4e2749;
  width: 300px;
  padding: 20px;
  margin: 65px;
  border-radius: 15px;
}

.card img {
  display: flex;
  margin: 0 auto;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 12px;
}

.card h4 {
  text-align: center;
  color: white;
}
#fondoprincipal {
  background: linear-gradient(235deg, #ca7abc, #906cb1);
}
#todojunto {
  display: flex;
}
.parrafob {
  background-color: #4e2749;
  border: 10px solid white;
  color: white;
  padding: 15px;
  font-size: 25px;
  text-align: center;
}
